#header{
    padding: 10px;
    background-color: #00adbc;
}

#header nav a{
    color: white;
}

#header div.dropdown-menu a{
    color: black;
}

#mid{
    height: 700px;
    /* filter: blur(8px);
    -webkit-filter: blur(1px); */
    border-bottom: 1px solid white;
}

#midimage{
    background-image: url('./blurred-background-coffee-cup-computer-908284.jpg');
    height: inherit;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* filter: blur(3px); */
    /* -webkit-filter: blur(3px); */
    transition: 2s ease;
    /* position: absolute; */
    
    /* position: relative; */
}

#welcome{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    color: white;
    border: 1px solid white;
    transition: .8s ease;
    
}

@media only screen and (max-width :500px){
    .info{
        margin-top: 5px;
        padding: 30px;
    }
}

@media only screen and (min-width:501px){
    .info{
        margin-top: 5px;
        padding: 100px;
    }
    .content{
        display: inline-block;
        width: 48%;
        padding: 10px 5px 0px 10px;
        margin-top: 50px;
        transition: .8s ease;
        margin-top: 5px;
    }
    .content-left{
        border-right: 1px solid lightgrey;
    }
}




.content-right{
    float: right;
}

.content p{
    line-height: 30px;
}

.group1,.group2{
    width: 48%;
    display: inline-block;
}

.group3{
    width:32%;
    display: inline-block;
}

.divider{
    border-top: 1px solid lightgrey;
    margin: 0% 10% 0% 10%;
}

#introduction{
    height: 100px;
}

/* div#header nav#nvBar{
    background-color: inherit !important;
} */