#header{
    padding: 10px;
    background-color: #00adbc;
}

#header nav a{
    color: white;
}

#header div.dropdown-menu a{
    color: black;
}

#mid{
    height: 700px;
    /* filter: blur(8px);
    -webkit-filter: blur(1px); */
    
}

#midimage{
    background-image: url('./business-camera-coffee-1509428.jpg');
    height: 700px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    /* position: absolute; */
    
    /* position: relative; */
}

#welcome{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 25%;
    /* left: 25%;  */
    z-index: 2;
    color: white;
    border: 1px solid white;
    /* width: 100%; */
}

/* div#header nav#nvBar{
    background-color: inherit !important;
} */